.App {
  padding-top: 40px;
  height: 1000px;
  background-color: rgb(12, 3, 3);

}

li{
  right: 25px;
  margin-left: 30%;
  margin-top: 25px;
  padding-top:15px;
  width: 30%;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  background-color:rgb(113, 185, 248);
  font-size:20px;


}